<div class="text-center m-5">
  <h1>パートメンバー</h1>
</div>
<% if @users.any? %>
  <ul class="list-unstyled">
    <div class="container">
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-xl-4">
            <li class="media border mb-5">
              <div class="m-1">
                <img src="<%= user.image %>" width="80">
              </div>
              <div class="media-body p-2">
                <div>
                  <h6 >名前<p class="mt-1"><%= user.name %></p></h6>
                  <h6>楽器<p class="mt-1"><%= user.part.name %></p></h6>
                  <h6>生年月日<p class="mt-1"><%= user.birthday %></p></h6>
                  <h6>経歴<div class="mt-1"><%= simple_format(user.carrer) %></div></h6>
                  <h6>メッセージ<div class="mt-1"><%= simple_format(user.message) %></div></h6>
                </div>
              </div>
            </li>
          </div>
        <% end %>
      </div>
    </div>
  </ul>
  <%= paginate @users %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-2"><%= link_to '戻る', parts_path %></div>
    <div class="offset-md-7 col-md-3"><%= link_to 'パートを編集する', edit_part_path %></div>
  </div>
</div>