<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media">
        <img class="mr-2 rounded" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
        <div class="media-body">
          <div>
            <h6><%= user.name %></h6>
            <h6><%= user.instrument %></h6>
            <h6><%= user.birthday %></h6>
            <h6><%= user.carrer %></h6>
            <h6><%= user.message %></h6>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>