<div class="text-center m-5">
  <h1>プロフィール</h1>
</div>

<ul class="list-unstyled">
    <li class="media">
      <div>
        <%= image_tag current_user.image.thumb.url if current_user.image? %>
      </div>
      <div class="media-body m-2">
        <div>
          <h6>名前：<%= current_user.name %></h6>
          <h6>メールアドレス：<%= current_user.email %></h6>
          <h6>楽器：<%= current_user.part.name %></h6>
          <h6>生年月日：<%= current_user.birthday %></h6>
          <h6>経歴：<%= current_user.carrer %></h6>
          <h6>メッセージ：<%= current_user.message %></h6>
        </div>
      </div>
    </li>
</ul>
<div class="text-right">
  <%= link_to '個人情報を編集する', edit_user_path(current_user) %>
</div>