<div class="row">
  <div class="col-sm-7">
    <%= render 'posts/posts', posts: @posts %>
  </div>
  <aside class="col-sm-5">
    <%= form_with(model: @post, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :tittle, "タイトル" %>
        <%= f.text_area :tittle, class: 'form-control', rows: 1 %>
        <%= f.label :content, "内容" %>
        <%= f.text_area :content, class: 'form-control', rows: 5 %>
      </div>
      <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
    <% end %>
  </aside>
</div>
