<div class="text-center m-5">
  <h1>プロフィール</h1>
</div>

  <ul class="list-unstyled">
    <li class="media">
      <div>
        <% if current_user.image? %>
          <img src="<%= current_user.image.to_s %>" width="100">
        <% else %>
          <img src="/assets/default.jpg" width = '100'>
        <% end %>
      </div>
      <div class="media-body m-3">
        <div>
          <h6>名前<p class="mt-1"><%= current_user.name %></p></h6>
          <h6>メールアドレス<p class="mt-1"><%= current_user.email %></p></h6>
          <h6>楽器<p class="mt-1"><%= current_user.part.name %></p></h6>
          <h6>生年月日<p class="mt-1"><%= current_user.birthday %></p></h6>
          <h6>経歴<div class="mt-1"><%= simple_format(current_user.carrer) %></div></h6>
          <h6>メッセージ<div class="mt-1"><%= simple_format(current_user.message) %></div></h6>
        </div>
      </div>
    </li>
  </ul>

<div class="text-right">
  <%= link_to '個人情報を編集する', edit_user_path(current_user) %>
</div>