<% if logged_in? %>
    <ul class="nav nav-tabs nav-justified">
    <li class="nav-item"><a href="#mon-4" class="nav-link active" data-toggle="tab">4月<a/></li>
    <li class="nav-item"><a href="#mon-5" class="nav-link" data-toggle="tab">5月</a></li>
    <li class="nav-item"><a href="#mon-6" class="nav-link" data-toggle="tab">6月</a></li>
    <li class="nav-item"><a href="#mon-7" class="nav-link" data-toggle="tab">7月</a></li>
    <li class="nav-item"><a href="#mon-8" class="nav-link" data-toggle="tab">8月</a></li>
    <li class="nav-item"><a href="#mon-9" class="nav-link" data-toggle="tab">9月</a></li>
    <li class="nav-item"><a href="#mon-10" class="nav-link" data-toggle="tab">10月</a></li>
    <li class="nav-item"><a href="#mon-11" class="nav-link" data-toggle="tab">11月</a></li>
    <li class="nav-item"><a href="#mon-12" class="nav-link" data-toggle="tab">12月</a></li>
    <li class="nav-item"><a href="#mon-1" class="nav-link" data-toggle="tab">1月</a></li>
    <li class="nav-item"><a href="#mon-2" class="nav-link" data-toggle="tab">2月</a></li>
    <li class="nav-item"><a href="#mon-3" class="nav-link" data-toggle="tab">3月</a></li>
  </ul>
  <div class="tab-content">
    <div id="mon-4" class="tab-pane active">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 4 %>
          <li class="mb-1">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
            <%= link_to edit_schedule_path(schedule), class: 'btn btn-default' do %>
              <i class="fas fa-pen"></i>
            <% end %>
          </li>
        <% end %>
      <% end %>  
    </div>
    <div id="mon-5" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 5 %>
          <li class="mb-1">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
            <%= link_to edit_schedule_path(schedule), class: 'btn btn-default' do %>
              <i class="fas fa-pen"></i>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-6" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 6 %>
          <li class="mb-1">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
            <%= link_to edit_schedule_path(schedule), class: 'btn btn-default' do %>
              <i class="fas fa-pen"></i>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-7" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 7 %>
          <li class="mb-1">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
            <%= link_to edit_schedule_path(schedule), class: 'btn btn-default' do %>
              <i class="fas fa-pen"></i>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-8" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 8 %>
          <li class="mb-1">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
            <%= link_to edit_schedule_path(schedule), class: 'btn btn-default' do %>
              <i class="fas fa-pen"></i>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-9" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 9 %>
          <li class="mb-1">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
            <%= link_to edit_schedule_path(schedule), class: 'btn btn-default' do %>
              <i class="fas fa-pen"></i>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-10" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 10 %>
          <li class="mb-1">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
            <%= link_to edit_schedule_path(schedule), class: 'btn btn-default' do %>
              <i class="fas fa-pen"></i>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-11" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 11 %>
          <li class="mb-1">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
            <%= link_to edit_schedule_path(schedule), class: 'btn btn-default' do %>
              <i class="fas fa-pen"></i>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-12" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 12 %>
          <li class="mb-1">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
            <%= link_to edit_schedule_path(schedule), class: 'btn btn-default' do %>
              <i class="fas fa-pen"></i>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-1" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 1 %>
          <li class="mb-1">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
            <%= link_to edit_schedule_path(schedule), class: 'btn btn-default' do %>
              <i class="fas fa-pen"></i>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-2" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 2 %>
          <li class="mb-1">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
            <%= link_to edit_schedule_path(schedule), class: 'btn btn-default' do %>
              <i class="fas fa-pen"></i>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-3" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 3 %>
          <li class="mb-1">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
            <%= link_to edit_schedule_path(schedule), class: 'btn btn-default' do %>
              <i class="fas fa-pen"></i>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </div>
  </div>
  <div>
    <p class="text-right"><%= link_to "予定を追加", new_schedule_path %></p>
  </div>
<% else %>
    <ul class="nav nav-tabs nav-justified">
    <li class="nav-item"><a href="#mon-4" class="nav-link active" data-toggle="tab">4月<a/></li>
    <li class="nav-item"><a href="#mon-5" class="nav-link" data-toggle="tab">5月</a></li>
    <li class="nav-item"><a href="#mon-6" class="nav-link" data-toggle="tab">6月</a></li>
    <li class="nav-item"><a href="#mon-7" class="nav-link" data-toggle="tab">7月</a></li>
    <li class="nav-item"><a href="#mon-8" class="nav-link" data-toggle="tab">8月</a></li>
    <li class="nav-item"><a href="#mon-9" class="nav-link" data-toggle="tab">9月</a></li>
    <li class="nav-item"><a href="#mon-10" class="nav-link" data-toggle="tab">10月</a></li>
    <li class="nav-item"><a href="#mon-11" class="nav-link" data-toggle="tab">11月</a></li>
    <li class="nav-item"><a href="#mon-12" class="nav-link" data-toggle="tab">12月</a></li>
    <li class="nav-item"><a href="#mon-1" class="nav-link" data-toggle="tab">1月</a></li>
    <li class="nav-item"><a href="#mon-2" class="nav-link" data-toggle="tab">2月</a></li>
    <li class="nav-item"><a href="#mon-3" class="nav-link" data-toggle="tab">3月</a></li>
  </ul>
  <div class="tab-content">
    <div id="mon-4" class="tab-pane active">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 4 %>
          <li class="mb-3">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-5" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 5 %>
          <li class="mb-3">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-6" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 6 %>
          <li class="mb-3">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-7" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 7 %>
          <li class="mb-3">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-8" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 8 %>
          <li class="mb-3">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-9" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 9 %>
          <li class="mb-3">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-10" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 10 %>
          <li class="mb-3">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-11" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 11 %>
          <li class="mb-3">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-12" class="tab-pane">
     <% schedules.each do |schedule| %>
        <% if schedule.day.month == 12 %>
          <li class="mb-3">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-1" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 1 %>
          <li class="mb-3">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-2" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 2 %>
          <li class="mb-3">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
          </li>
        <% end %>
      <% end %>
    </div>
    <div id="mon-3" class="tab-pane">
      <% schedules.each do |schedule| %>
        <% if schedule.day.month == 3 %>
          <li class="mb-3">
            <%= schedule.day %>
            <%= schedule.content %>
            @<%= schedule.place %>
          </li>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>