<% if logged_in? %>
  <div class="text-center">
    <h1>DreamScouts</h1>
  </div>
  <div class="text-center">
    <img src="/assets/top.jpg" alt="" class="img-fluid">
  </div>
  <hr>
  <div>
    <h3 class="text-center m-3">New Topics</h3>
    <div>
      <div class="container">
        <div class="row center">
          <%= render 'articles/articles', articles: @articles %>  
        </div>
      </div>
    </div>
    <p class="text-right"><%= link_to "もっと見る", articles_path %></p>
  </div>
  <hr>
  <div>
    <h3 id="schedules" class="text-center m-3">スケジュール</h3>
  </div>
  <%= render 'schedules/schedules', schedules: @schedules %>
  <hr>
  <div class="footer-icon text-center">
      <i class="fab fa-twitter fa-2x m-2"></i>
      <i class="fab fa-instagram fa-2x m-2"></i>
      <i class="fab fa-facebook-f fa-2x m-2"></i>
      <i class="fab fa-youtube fa-2x m-2"></i>
  </div>
  <div class="text-center">
    <small>&copy; 2020 DreamScouts.</small>
  </div>
<% else %>
  <div class="text-center m-3">
    <h1>DreamScouts</h1>
  </div>
  <div class="text-center">
    <img src="/assets/top.jpg" alt="" class="img-fluid">
  </div>
  <hr>
  <div>
    <div class="text-center">
      <h3 class="m-3">About us</h3>
      <p>DreamScoutsは一般のマーチングバンドのチームです。</p>
    </div>
    <p class="text-right"><%= link_to "詳細はこちら", about_path %></p>
  </div>
  <hr>
  <div>
    <h3 class="text-center m-3">New Topics</h3>
    <div>
      <div class="container">
        <div class="row">
           <%= render 'articles/articles', articles: @articles %>
        </div>
      </div>
    </div>
    <p class="text-right"><%= link_to "もっと見る", articles_path %></p>
  </div>
  <hr>
  <div>
    <h3 id="schedules" class="text-center m-3">スケジュール</h3>
  </div>
  <%= render 'schedules/schedules', schedules: @schedules %>
  <hr>
  <div class="container">
    <div class="row">
      <a href="#" class="col-md-4 btn btn-light btn-block border-white">
        <i class="fas fa-question fa-2x m-2" style="vertical-align:middle;"></i>問い合わせ、依頼演奏等はこちら
      </a>
      <a href="#" class="col-md-4 btn btn-light border-white">
        <i class="far fa-envelope fa-2x m-2" style="vertical-align:middle;"></i>見学申請はこちら
      </a>
      <a href="<%= login_path %>" class="col-md-4 btn btn-light border-white">
        <i class="fas fa-sign-in-alt fa-2x m-2" style="vertical-align:middle;"></i>メンバーログイン
      </a>
    </div>
  </div>
  <div class="text-center">
      <i class="fab fa-twitter fa-2x m-2"></i>
      <i class="fab fa-instagram fa-2x m-2"></i>
      <i class="fab fa-facebook-f fa-2x m-2"></i>
      <i class="fab fa-youtube fa-2x m-2"></i>
  </div>
  <div class="text-center">
    <small>&copy; 2020 DreamScouts.</small>
  </div>
<% end %>