<% if logged_in? %>
  <div class="text-center">
    <h1>DreamScouts</h1>
  </div>
  <div class="text-center">
    <img src="/assets/top.jpg" alt="" class="img-fluid">
  </div>
  <hr>
  <div>
    <h3 class="text-center m-3">New Topics</h3>
    <div>
      <div class="container">
        <div class="row center">
          <% @articles.each do |article| %>
            <div class="col-xl-4 text-center cover-img">
              <h5><%= article.title %></h5>
              <p><%= link_to image_tag(article.image.thumbpart.url), article_path(article) %></p>
            </div>
          <% end %>  
        </div>
      </div>
    </div>
    <p class="text-right"><%= link_to "もっと見る", articles_path %></p>
  </div>
  <hr>
  <div>
    <h3 id="schdules" class="text-center m-3">スケジュール</h3>
  </div>
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item"><a href="#mon-4" class="nav-link active" data-toggle="tab">4月<a/></li>
    <li class="nav-item"><a href="#mon-5" class="nav-link" data-toggle="tab">5月</a></li>
    <li class="nav-item"><a href="#mon-6" class="nav-link" data-toggle="tab">6月</a></li>
    <li class="nav-item"><a href="#mon-7" class="nav-link" data-toggle="tab">7月</a></li>
    <li class="nav-item"><a href="#mon-8" class="nav-link" data-toggle="tab">8月</a></li>
    <li class="nav-item"><a href="#mon-9" class="nav-link" data-toggle="tab">9月</a></li>
    <li class="nav-item"><a href="#mon-10" class="nav-link" data-toggle="tab">10月</a></li>
    <li class="nav-item"><a href="#mon-11" class="nav-link" data-toggle="tab">11月</a></li>
    <li class="nav-item"><a href="#mon-12" class="nav-link" data-toggle="tab">12月</a></li>
    <li class="nav-item"><a href="#mon-1" class="nav-link" data-toggle="tab">1月</a></li>
    <li class="nav-item"><a href="#mon-2" class="nav-link" data-toggle="tab">2月</a></li>
    <li class="nav-item"><a href="#mon-3" class="nav-link" data-toggle="tab">3月</a></li>
  </ul>
  <div class="tab-content">
    <div id="mon-4" class="tab-pane active">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 4 %>
            <li class="mb-3">
              <%= link_to schdule.day, edit_schdule_path(schdule) %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-5" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 5 %>
            <li class="mb-3">
              <%= link_to schdule.day, edit_schdule_path(schdule) %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-6" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 6 %>
            <li class="mb-3">
              <%= link_to schdule.day, edit_schdule_path(schdule) %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-7" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 7 %>
            <li class="mb-3">
              <%= link_to schdule.day, edit_schdule_path(schdule) %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-8" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 8 %>
            <li class="mb-3">
              <%= link_to schdule.day, edit_schdule_path(schdule) %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-9" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 9 %>
            <li class="mb-3">
              <%= link_to schdule.day, edit_schdule_path(schdule) %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-10" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 10 %>
            <li class="mb-3">
              <%= link_to schdule.day, edit_schdule_path(schdule) %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-11" class="tab-pane">
       <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 11 %>
            <li class="mb-3">
              <%= link_to schdule.day, edit_schdule_path(schdule) %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-12" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 12 %>
            <li class="mb-3">
              <%= link_to schdule.day, edit_schdule_path(schdule) %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-1" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 1 %>
            <li class="mb-3">
              <%= link_to schdule.day, edit_schdule_path(schdule) %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-2" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 2 %>
            <li class="mb-3">
              <%= link_to schdule.day, edit_schdule_path(schdule) %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-3" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 3 %>
            <li class="mb-3">
              <%= link_to schdule.day, edit_schdule_path(schdule) %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <p class="text-right"><%= link_to "予定を追加", new_schdule_path %></p>
  </div>
  <hr>
  <div class="footer-icon text-center">
      <i class="fab fa-twitter fa-2x m-2"></i>
      <i class="fab fa-instagram fa-2x m-2"></i>
      <i class="fab fa-facebook-f fa-2x m-2"></i>
      <i class="fab fa-youtube fa-2x m-2"></i>
  </div>
  <div class="text-center">
    <small>&copy; 2020 DreamScouts.</small>
  </div>
<% else %>
  <div class="text-center m-3">
    <h1>DreamScouts</h1>
  </div>
  <div class="text-center">
    <img src="/assets/top.jpg" alt="" class="img-fluid">
  </div>
  <hr>
  <div>
    <div class="text-center">
      <h3 class="m-3">About us</h3>
      <p>DreamScoutsは一般のマーチングバンドのチームです。</p>
    </div>
    <p class="text-right"><%= link_to "詳細はこちら", about_path %></p>
  </div>
  <hr>
  <div>
    <h3 class="text-center m-3">New Topics</h3>
    <div>
      <div class="container">
        <div class="row">
          <% @articles.each do |article| %>
            <div class="col-xl-4 text-center cover-img">
              <h5><%= article.title %></h5>
              <p><%= link_to image_tag(article.image.thumbpart.url), article_path(article) %></p>
            </div>
          <% end %>  
        </div>
      </div>
    </div>
    <p class="text-right"><%= link_to "もっと見る", articles_path %></p>
  </div>
  <hr>
  <div>
    <h3 id="schdules" class="text-center m-3">スケジュール</h3>
  </div>
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item"><a href="#mon-4" class="nav-link active" data-toggle="tab">4月<a/></li>
    <li class="nav-item"><a href="#mon-5" class="nav-link" data-toggle="tab">5月</a></li>
    <li class="nav-item"><a href="#mon-6" class="nav-link" data-toggle="tab">6月</a></li>
    <li class="nav-item"><a href="#mon-7" class="nav-link" data-toggle="tab">7月</a></li>
    <li class="nav-item"><a href="#mon-8" class="nav-link" data-toggle="tab">8月</a></li>
    <li class="nav-item"><a href="#mon-9" class="nav-link" data-toggle="tab">9月</a></li>
    <li class="nav-item"><a href="#mon-10" class="nav-link" data-toggle="tab">10月</a></li>
    <li class="nav-item"><a href="#mon-11" class="nav-link" data-toggle="tab">11月</a></li>
    <li class="nav-item"><a href="#mon-12" class="nav-link" data-toggle="tab">12月</a></li>
    <li class="nav-item"><a href="#mon-1" class="nav-link" data-toggle="tab">1月</a></li>
    <li class="nav-item"><a href="#mon-2" class="nav-link" data-toggle="tab">2月</a></li>
    <li class="nav-item"><a href="#mon-3" class="nav-link" data-toggle="tab">3月</a></li>
  </ul>
  <div class="tab-content">
    <div id="mon-4" class="tab-pane active">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 4 %>
            <li class="mb-3">
              <%= schdule.day %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-5" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 5 %>
            <li class="mb-3">
              <%= schdule.day %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-6" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 6 %>
            <li class="mb-3">
              <%= schdule.day %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-7" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 7 %>
            <li class="mb-3">
              <%= schdule.day %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-8" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 8 %>
            <li class="mb-3">
              <%= schdule.day %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-9" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 9 %>
            <li class="mb-3">
              <%= schdule.day %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-10" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 10 %>
            <li class="mb-3">
              <%= schdule.day %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-11" class="tab-pane">
       <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 11 %>
            <li class="mb-3">
              <%= schdule.day %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-12" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 12 %>
            <li class="mb-3">
              <%= schdule.day %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-1" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 1 %>
            <li class="mb-3">
              <%= schdule.day %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-2" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 2 %>
            <li class="mb-3">
              <%= schdule.day %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="mon-3" class="tab-pane">
      <div>
        <% @schdules.each do |schdule| %>
          <% if schdule.day.month == 3 %>
            <li class="mb-3">
              <%= schdule.day %>
              <%= schdule.content %>
              @<%= schdule.place %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <a href="#" class="col-md-4 btn btn-light btn-block border-white">
        <i class="fas fa-question fa-2x m-2" style="vertical-align:middle;"></i>問い合わせ、依頼演奏等はこちら
      </a>
      <a href="#" class="col-md-4 btn btn-light border-white">
        <i class="far fa-envelope fa-2x m-2" style="vertical-align:middle;"></i>見学申請はこちら
      </a>
      <a href="<%= login_path %>" class="col-md-4 btn btn-light border-white">
        <i class="fas fa-sign-in-alt fa-2x m-2" style="vertical-align:middle;"></i>メンバーログイン
      </a>
    </div>
  </div>
  <div class="text-center">
      <i class="fab fa-twitter fa-2x m-2"></i>
      <i class="fab fa-instagram fa-2x m-2"></i>
      <i class="fab fa-facebook-f fa-2x m-2"></i>
      <i class="fab fa-youtube fa-2x m-2"></i>
  </div>
  <div class="text-center">
    <small>&copy; 2020 DreamScouts.</small>
  </div>
<% end %>