<ul class="list-unstyled">
  <% posts.each do |post| %>
    <li class="media mb-3 border">
      <div class='m-1'>
        <%= image_tag post.user.image.thumb.url if post.user.image? %>
      </div>
      <div class="media-body">
        <div>
          <%= post.user.name %> <span class="text-muted"><%= post.created_at %></span>
        </div>
        <div>
          <p class="mb-0"><%= post.tittle %></p>
          <p class="mb-0"><%= post.content %></p>
        </div>
        <div>
          <% render "reads/read_button", post: @post %>
          <% unless current_user == post.user %>
            <% if current_user.reading?(post) %>
              <%= form_with(model: current_user.reads.find_by(post_id: post.id), local: true, method: :delete) do |f| %>
                <%= hidden_field_tag :post_id, post.id %>
                <%= f.submit '未読', class: 'btn btn-danger btn-sm' %>
              <% end %>
            <% else %>
              <%= form_with(model: current_user.reads.build, local: true) do |f| %>
                <%= hidden_field_tag :post_id, post.id %>
                <%= f.submit '既読', class: 'btn btn-primary btn-sm' %>
              <% end %>
            <% end %>
          <% end %>
          <% if current_user == post.user %>
            <%= link_to "編集", edit_post_path(post), class: 'btn btn-danger btn-sm' %>
            <%= link_to "削除", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate posts %>
</ul>