<ul class="list-unstyled">
  <% posts.each do |post| %>
    <li class="media mb-3 p-1 border">
      <div class='mr-3'>
        <%= image_tag post.user.image.thumb.url if post.user.image? %>
      </div>
      <div class="media-body">
        <div class="font-weight-bold mb-2">
          <%= post.user.name %>
        </div>
        <div>
          <h5 class="mb-1"><%= post.tittle %></h5>
          <p class="mb-1"><%= simple_format(post.content) %></p>
        </div>
        <div>
          <% unless current_user == post.user %>
            <% if current_user.reading?(post) %>
              <%= form_with(model: current_user.reads.find_by(post_id: post.id), local: true, method: :delete) do |f| %>
                <%= hidden_field_tag :post_id, post.id %>
                <%= f.submit '読みました', class: 'btn btn-primary btn-sm mr-1' %><%= post.reads.count %>
              <% end %>
            <% else %>
              <%= form_with(model: current_user.reads.build, local: true) do |f| %>
                <%= hidden_field_tag :post_id, post.id %>
                <%= f.submit '読んでいません', class: 'btn btn-danger btn-sm mr-1' %><%= post.reads.count %>
              <% end %>
            <% end %>
          <% end %>
          <% if current_user == post.user %>
            <%= link_to "編集", edit_post_path(post), class: 'btn btn-danger btn-sm' %>
            <%= link_to "削除", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate posts %>
</ul>