<ul class="list-unstyled">
  <% posts.each do |post| %>
    <li class="media mb-3 p-1 border">
      <div class='mr-3'>
        <img src="<%= post.user.image.to_s %>" width="80">
      </div>
      <div class="media-body">
        <div class="font-weight-bold mb-2">
          <%= post.user.name %>
        </div>
        <div>
          <h5 class="mb-1"><%= post.tittle %></h5>
          <p class="mb-1"><%= simple_format(post.content) %></p>
        </div>
        
        <div class="container">
          <div class="row">
            <div>
              <% if current_user.reading?(post) %>
                <%= form_with(model: current_user.reads.find_by(post_id: post.id), local: true, method: :delete) do |f| %>
                  <%= hidden_field_tag :post_id, post.id %>
                  <%= button_tag(class: "btn btn-default") do %>
                    <i class="fas fa-check-circle"></i><%= post.reads.count %>
                  <% end %>
                <% end %>
              <% else %>
                <%= form_with(model: current_user.reads.build, local: true) do |f| %>
                  <%= hidden_field_tag :post_id, post.id %>
                  <%= button_tag(class: "btn btn-default") do %>
                    <i class="far fa-check-circle"></i><%= post.reads.count %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div>
              <% if current_user == post.user %>
                <%= link_to edit_post_path(post), class: 'btn btn-default' do %>
                  <i class="far fa-edit"></i>
                <% end %>
              <% end %>
            </div>
            <div>
              <% if current_user == post.user %>
                <%= link_to post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-default' do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              <% end %>
            </div>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate posts %>
</ul>